
body {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    width: 480px;
    height: 480px;
    overflow: auto
}

.column {
    display: flex;
    flex-flow: column;
    width: calc(100% / var(--sliderValue)); 
}
.cube {
    display: flex;
    float: left;
    height: calc(100% / var(--sliderValue));
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.075);
    background-color: white;
}
