
body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    width: 480px;
    height: 480px;
}

.cube {
    float: left;
    width: -webkit-fill-available;
    height: calc(384px / 16);
    border-style: solid;
    border-color: black;
    background-color: white;
}